@CHARSET "UTF-8";

body {
	background-color: #DEAE61
}

.about {
	width: 25%;
}

.active-header-menu-item {
	float: left;
	background-color: #4CAF50;
}

.dash-table {
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
}

.dash-table td {
	border: 1px solid black;
	border-collapse: collapse;
	height: 25px;
	vertical-align: bottom;
}

.disabled {
	background-color: #DEAE61;
	border: none;
	font-size: 14px;
	color: black;
}

.fail {
	color: red;
}

.field {
	clear: both;
	text-align: right;
	line-height: 25px;
}

.field label {
	float: left;
	padding-right: 10px;
}

.header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.header li {
	float: left;
}

.main-div {
	width: 250px;
	height: 250px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -125px 0 0 -125px;
}

.main-food-img {
	width: 50%;
}

.menu-link {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.menu-link:hover {
	background-color: #884192;
}

.reg-form {
	padding: 1em;
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	min-width: 250px;
	overflow: auto;
	float: left;
	texl-align: center;
}

.search-input {
	size: 50;
}

.submit_field {
	margin-top: 0.8em;
	background: #e3e3e3;
}

.success {
	color: green;
}