<?xml version="1.0" encoding="UTF-8"?>
<!-- <web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>foodapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddCompanyServlet</servlet-name>
    <servlet-class>com.eliftech.jurimik.servlet.AddCompanyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DatabaseCheckServlet</servlet-name>
    <servlet-class>com.eliftech.jurimik.servlet.DatabaseCheckServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteCompanyServlet</servlet-name>
    <servlet-class>com.eliftech.jurimik.servlet.DeleteCompanyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.eliftech.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchServlet</servlet-name>
  	<servlet-class>com.eliftech.servlet.SearchCompanyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListCompanyServlet</servlet-name>
    <servlet-class>com.eliftech.servlet.ListCompanyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCompanyServlet</servlet-name>
    <servlet-class>com.eliftech.servlet.UpdateCompanyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewCompanyServlet</servlet-name>
    <servlet-class>com.eliftech.jurimik.servlet.ViewCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCompanyServlet</servlet-name>
    <url-pattern>/addCompany</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DatabaseCheckServlet</servlet-name>
    <url-pattern>/checkDB</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCompanyServlet</servlet-name>
    <url-pattern>/deleteCompany</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListCompanyServlet</servlet-name>
    <url-pattern>/showAllCompanies</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchServlet</servlet-name>
  	<url-pattern>/searchCompany</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCompanyServlet</servlet-name>
    <url-pattern>/updateCompany</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewCompanyServlet</servlet-name>
    <url-pattern>/viewCompany</url-pattern>
  </servlet-mapping>
</web-app>